:host {
	display: block;
	margin: 0 0 3px 0;
	padding: 6px;
	background: hsl(0, 0%, 97%);
}

button {
	font-size: 11px;
}

.selected {
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0;
}

.selected__item {
	display: inline-block;
	margin: 0 6px 0 0;
}

.add-item {
	position: relative;
	display: inline-block;
	white-space: nowrap;
}

.choices {
	position: absolute;
	z-index: 100;
	max-height: 200px;
	overflow: auto;
	padding: 0;
	margin: 0;
	list-style: none;
	background: #ddd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
}

.choices__item {
	cursor: pointer;
	position: relative;
	padding: 3px 6px;
}

.choices__item.core-selected:after {
	content: "\2713";
	position: absolute;
	padding-left: 10px;
}

.choices__item--cursor {
	background: blue;
	color: white;
}